<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manag.mapper.PmsSkuSaleAttrValueMapper">
    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.atguigu.gmall.bean.PmsSkuInfo">
        <result property="id" column="si_id"></result>
        <collection property="skuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <result property="id" column="ssav_id"></result>
        </collection>
    </resultMap>
    <select id="getSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
        SELECT
            si.id as si_id ,si.*,ssav.id as ssav_id ,ssav.*
        FROM
            pms_sku_info si,
            pms_sku_sale_attr_value ssav
        WHERE
            si.id = ssav.sku_id
        AND si.product_id = #{productId}
    </select>
</mapper>